
#exampleSlider {
    position: relative;      /* recommended */
    }
    #exampleSlider .MS-content {
    white-space: nowrap;     /* required */
    overflow: hidden;        /* required */
    margin: 0 6%;         /*   makes room for L/R arrows */
    }
    #exampleSlider .MS-content .item {
    display: inline-block;   /* required */
    /* width: 25%;           required * Determines number of visible slides */
    position: relative;      /* required */
    vertical-align: top;     /* required */
    overflow: hidden;        /* required */
    height: 100%;    
    /* margin: 0 1rem;       recommended */
    white-space: normal;     /* recommended */
    }
    
#exampleSlider2 {
position: relative;      /* recommended */
}
#exampleSlider2 .MS-content {
white-space: nowrap;     /* required */
overflow: hidden;        /* required */
margin: 0 6%;         /*   makes room for L/R arrows */
}
#exampleSlider2 .MS-content .item {
display: inline-block;   /* required */
/* width: 25%;           required * Determines number of visible slides */
position: relative;      /* required */
vertical-align: top;     /* required */
overflow: hidden;        /* required */
height: 100%;  
padding: 1.5rem;          /* recommended */
white-space: normal;     /* recommended */
}
#exampleSlider3 {
    position: relative;      /* recommended */
    }
    #exampleSlider3 .MS-content {
    white-space: nowrap;     /* required */
    overflow: hidden;        /* required */
    margin: 0 6%;         /*   makes room for L/R arrows */
    }
    #exampleSlider3 .MS-content .item {
    display: inline-block;   /* required */
    /* width: 25%;           required * Determines number of visible slides */
    position: relative;      /* required */
    vertical-align: top;     /* required */
    overflow: hidden;        /* required */
    height: 100%;    
    /* margin: 0 1rem;       recommended */
    white-space: normal;     /* recommended */
    }
@media (max-width: 600px) {
    #exampleSlider2 .MS-content .item{
        width: 100%;
    }
    #exampleSlider .MS-content .item{
        width: 100%;
    }
    #exampleSlider3 .MS-content .item{
        width: 100%;
    }
}

@media (min-width: 900px) {
    #exampleSlider2 .MS-content .item{
        width: 25%;
    }
    #exampleSlider .MS-content .item{
        width: 25%;
    }
    #exampleSlider3 .MS-content .item{
        width: 100%;
    }
}
.btn-whatsapp img{
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
}
.btn-whatsapp {
    z-index: 5;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}