@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}
.header_left{
    background-color: #d4202d;
    /* width: 50%; */
    padding: 1rem 1rem 0.5rem 5rem;
    /* float: left; */
}
.header_right{
    /* width: 40%; */
    font-size: 1.3rem;
    float: right;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Merriweather', serif;
    position: relative;
    /* clear: both; */
}
.header_right_title{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.header_right_halo{
    font-size: 1rem;    
}
.red_text{
    color: #d4202d;
}
.maroon_text{
    color:maroon;
}
.maroon_back{
    background-color:#d4202d;
    color:white;
}
.main_banner{
    background-image: url(../images/professional_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d4202d;
    clear: both;
}
.main_left{
    /* width: 60%; */
    color: white;
    padding: 2rem;
    font-family: 'Merriweather', serif;
    /* overflow: scroll; */
    /* float: left; */
}
.main_left_header{
    font-size: 4rem;
    font-weight: 500;
    margin-top: 5rem;
    /* margin-left: 5rem; */
    padding: 1rem;
    line-height: 4rem;
}
.main_left_cards{
    /* margin-left: 8rem; */
    margin-top: 5rem;
}
.card1, .card2, .card3 {
    float: left;
    margin: 0.1rem 0.3rem;
}
.card1, .card3{
    background-color: white;
    color: black;
    padding: 1rem;
    font-size: 1.8rem;
    line-height: 1.2rem;
}
.main_left_cards span{
    font-size: 1rem;
}
.card2{
    background-color: #d4202d;
    font-size: 1.8rem;
    line-height: 1.2rem;
    padding: 1rem 0.5rem;
}
.main_right{
    /* float: left; */
    /* width: 20%; */
    background-color: white;
    margin: 2rem 0;
    padding: 2rem 4rem;
}
.main_right h3{
    text-align: center;
    font-size: 1.5rem;
}
label{
    margin: -1.5rem 0;
}
.shadow{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
}
.main_right ul li{
    list-style: none;
}
.main_card4{
    clear: both;
    margin: 0;
    margin-top: 5rem;
    background-color: white;
    /* float: left; */
}
.main_card4_image{
    /* float: left; */
    margin: 0;
}

.main_card4_content{
    float: left;
    width: 75%;
    background-color: white;
    text-align: justify;
    padding: 2rem;
    margin: 0;
}
.main_card4_content_heading{
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Merriweather', serif;
}
.main_executivePrograms{
    background-color: black;
    color: white;
    /* margin-top: 15rem; */
    padding: 2rem 10rem;
    font-size: 1rem;
    font-weight: normal;
}
.main_executivePrograms h5{
    font-size: 1rem;
}
.main_executivePrograms_heading{
    text-align: center;
    margin: 1rem 0 0.5rem 0;
    font-family: 'Merriweather', serif;
}
.main_executivePrograms img{
    margin: 0 0.3rem;
}
.main_card4 p{
    margin: 1rem;
}
.main_executivePrograms_block1, .main_executivePrograms_block2, .main_executivePrograms_block3{
    /* float: left; */
    /* width: 25%; */
    padding: 1rem;
    /* overflow: hidden; */
    border: solid white 2px;
    margin: 0.5rem;
    height: 18rem;
    font-size: 1rem;
}
.main_executivePrograms_block1{
    /* width: 40%; */
    padding-left: 2rem ;
}
.main_executivePrograms_blocks ul {
    float: left;
    text-align: left;
    font-weight: normal;
    width: 50%;
    margin: 1rem 0;
    padding: 0.5rem;
}
.main_executivePrograms_blocks h3,h5{
    margin: 1rem;
    font-size: 1.2rem;
}
.group:after {
    content: "";
    display: table;
    clear: both;
  }
  .blue_back{
      background-color: #345896;
      color: white; 
  }
  .grey_back{
      background-color: #a19f9f7e;
  }
  .main_lead{
      margin: 5rem 0rem;
      margin-top: 0;
  }
  .main_lead_box{
      padding: 1rem;
      height: 20rem;
      font-size: 0.9rem;
      position: relative;
      margin-bottom: 0.5rem;
  }
  .main_lead_heading{
      font-size: 2.5rem;
      margin: 2rem 1rem ;
      font-family: 'Merriweather', serif;
  }
  .main_lead_box_heading{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
  }
  .logo_box{
      text-align: right;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
  }
  .main_about{
        clear: both;
        background-color: black;
        color: white;
        padding: 2rem;
        font-family: 'Merriweather', serif;
    }
    .main_about_nmims{
        margin: 2rem;
    }
    .main_about_2{
        margin: 4rem 2rem;
    }
    .main_about ul li{
        list-style: none;
        /* display: inline-block; */
    }
    .main_about_box{
        /* float: left; */
        /* width: 22%; */
        color: black;
        background-color: white;
        height: 6rem;
        margin: 0.5rem 0;
        padding: 1rem;
        position: relative;
    }
    .main_about_box_content{
        float: left;
    }
    .main_about_box-image{
        margin-left: 2rem;
        text-align: right;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
    .main_about_box img{
        height: 40px;
        width: 40px;
    }
    .main_about_box h3{
        font-size: 1.3rem;
    }

.main_connect{
    background-color: #d4202d;  
    padding: 1rem;
    padding-bottom: 0rem;
    /* margin: 0; */
}
.main_connect_left p{
    line-height: 0.5rem;
}
.main_connect ul li{
    list-style:none;
}
.main_connect_left{
    width: 50%;
    /* float: left; */
}
.main_connect_left_image{
    /* float: left; */
    margin: 2rem;
}
.main_connect_left_content{
    color: white;
    margin-top:2rem;
    text-align: left;
}
.main_connect_right{
    padding: 1rem;
    background-color: white;
    /* overflow: hidden; */
    border-bottom: solid 10px #d4202d;
    /* margin-left: 2rem; */
}
.authorize_right_header{
    /* float: left; */
    /* width: 50%; */
    font-family: 'Merriweather', serif;

}
.authorize_right_content{
    /* float: right; */
    padding: 0.2rem 0rem 0.2rem 2rem;
    text-align: left;
}
.note{
    margin: 0.2rem 0.5rem;
}
.main_regionalOffice{
    /* margin: 2rem; */
    padding: 2rem;
}
.main_regionalOffice_left{
    float: left;
    width: 50%;
    padding: 2rem;
}
.main_regionalOffice_left_heading{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: 'Merriweather', serif;
}
.footer-section {
    /* position: absolute; */
  background: #821723; 
    color: #fff;
  /* top:100%; */
  /* right: 0; */
  /* overflow: hidden; */
  width: 100%;
  /* right:0; left:0; */
  /* height: 2.5rem;  */
}

@media (min-width:700px){
    #breakpoint{
        clear: left;
    }
}
@media(max-width:800px){
    .large{
        font-size: 10px;
    }
    body{
        font-size: 1em;
    }
    .main_card4_image{
        display: none;
    }
    .main_lead_box{
        height: 15rem;
    }
    .main_executivePrograms_block1{
        height: 25rem;
    }
    .main_executivePrograms_block2{
        height: 15rem;
    }
    .main_left_header{
        font-size: 3rem;
    }
    .main_lead_box_heading{
        font-size: 1rem;
    }
    .main_lead_box{
        height: 10rem;
        padding-right: 4rem;
    }
    .main_about_box{
        height: 8rem;
    }
    .header_right{
        height: 4rem;
    }
    .main_connect_right{
    transform: translateX(1rem);
    /* margin-left: 2rem; */
    }
    /* .btn-whatsapp{
        display: none;
    } */
    #dialog{
        width: 80%;
        margin-left: 0;
    }
}


.btn-whatsapp img{
    height: 4rem;
    width: 4rem;
    border-radius: 5px;
}
.btn-whatsapp {
    z-index: 5;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}


#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
  }
  
  #boxes .window {
    position: absolute;
    font-size: 0.8rem;
    left: 0;
    top: 0;
    /* width: 440px; */
    height: 400px;
    display: none;
    z-index: 9999;
    /* padding: 20px; */
    border-radius: 15px;
    text-align: center;
    font-family: inherit;
  }
  
  #boxes #dialog {
    /* width: 750px; */
    height: 525px;
    padding: 2rem;
    background-color: #ffffff;
    font-size: 15pt;
  }
  
  #close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
  }
  .bottom_spam{
      position: absolute;
      bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    color: #d4202d;
  }
